/*with browsers, for performance sake, we only want to animate two elements: opactity and transform */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(
      -10rem
    ); /*translateX since we are moving this only on the X axis*/
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(
      10rem
    ); /*translateX since we are moving this only on the X axis*/
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(
      3rem
    ); /*translateX since we are moving this only on the X axis*/
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
